<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>Picasa</string>
    <key>CFBundleIdentifier</key>
    <string>ru.mic.Picasa</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.12</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>NSHumanReadableCopyright</key>
    <string>${AuthorCopyright:HtmlEncode}</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>XSAppIconAssets</key>
    <string>Assets.xcassets/AppIcon.appiconset</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>.jpg</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>CFBundleTypeIconFile</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string />
        </array>
        <key>CFBundleTypeName</key>
        <string>CFBundleTypeName</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string />
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.jpg</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>LSTypeIsPackage</key>
        <true />
        <key>NSDocumentClass</key>
        <string>NSDocumentClass</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>.bmp</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>CFBundleTypeIconFile</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string />
        </array>
        <key>CFBundleTypeName</key>
        <string>CFBundleTypeName</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string />
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.bmp</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>LSTypeIsPackage</key>
        <true />
        <key>NSDocumentClass</key>
        <string>NSDocumentClass</string>
      </dict> 
      <dict>  
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>.png</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>CFBundleTypeIconFile</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string />
        </array>
        <key>CFBundleTypeName</key>
        <string>CFBundleTypeName</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string />
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.png</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>LSTypeIsPackage</key>
        <true />
        <key>NSDocumentClass</key>
        <string>NSDocumentClass</string>
      </dict>
      <dict>  
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>.webm</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>CFBundleTypeIconFile</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string />
        </array>
        <key>CFBundleTypeName</key>
        <string>CFBundleTypeName</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string />
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.webm</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>LSTypeIsPackage</key>
        <true />
        <key>NSDocumentClass</key>
        <string>NSDocumentClass</string>
      </dict>
    </array>
  </dict>
</plist>

